<ion-item *ngIf="message" [routerLink]="'/message/' + message.id" [detail]="false">
  <div style="width: 280px; height: 380px;">
    <ion-img *ngIf="message.id == 0" src="assets/img/jojo.jpg"></ion-img>
    <ion-img *ngIf="message.id == 1" src="assets/img/op.jpg"></ion-img>
    <ion-img *ngIf="message.id == 2" src="assets/img/dbz.jpg"></ion-img>
    <ion-img *ngIf="message.id == 3" src="assets/img/erased.jpg"></ion-img>
    <ion-img *ngIf="message.id == 4" src="assets/img/aot.jpg"></ion-img>
    <ion-img *ngIf="message.id == 5" src="assets/img/naruto.jpg"></ion-img>
    <ion-img *ngIf="message.id == 6" src="assets/img/fate.jpg"></ion-img>
    <ion-img *ngIf="message.id == 7" src="assets/img/pokemon.jpg"></ion-img>
    <ion-img *ngIf="message.id == 8" src="assets/img/zoids.jpg"></ion-img>
  </div>
  <ion-label class="ion-text-wrap">
    <h2>
      {{ message.animeName }}
      <span class="date">
        <!-- <ion-note>{{ message.date }}</ion-note> -->
        <ion-icon aria-hidden="true" name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
      </span>
    </h2>
    <h3>{{ message.descripcion }}</h3>
  </ion-label>
 
</ion-item>
<ion-checkbox><h3>Visto?</h3></ion-checkbox>